body{height:120vh}
header{
    background: url(../img/texnoloji.jpeg) center;
    background-size:cover;
    height:100vh;
    width:100%;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}
.nav{padding: 25px 0;position: relative;}
.nav-brand img{width:15%;display: inline;}
.nav-link{font: .95em Montserrat, sans-serif;color: #fff;padding: 0 10px;transition: .5s;}
#menu li{display: inline-block}
#menu {width: 80%;display: inline-block;text-align: end;}
.nav-link:hover{color: #ffc800;}
.sticky{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    transition: .7s;
    background: #212529;
}
.content{
    text-align: center;
    position:absolute;
    width: 100%;
    top:40%;
}
h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    color: #fff;
}
h2{font:700 2.5em Montserrat, sans-serif;}
h3{font: italic 2.25em "Roboto Slab", sans-serif; color: #fff;}
i{font-size:2em;color: #fff;}
h4{text-align: center;font-size: 1.8em;}
p{text-align: center;}
.padding{padding: 15px 0 45px 0}
.txtgrey{color: #6c757d;font-style: italic;font-size: 1.2em;}
.btn{
    padding: 25px;
    background:#ffc800;
    color:#fff;
}
#services{padding: 15px 0 ;}
.text{text-align: center;}
.col-4{width:33%;margin: 10px 0;float:left;padding:10px}
.icon{
    background:#ffc800;
    border-radius:50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
}
.col-4 img{width:100%; }
.vis{position: relative;}
.img:hover::after{
    content:"+";
    background:#ffc800e6; 
    position: absolute;
    width:88.2%;
    height: 80%;
    padding:0 15px;
    top: 2.8%;
    left: 2.3%;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}
#about{padding:80px 0;}
.timeline {
    position: relative;
    width: 100%;
    padding: 15px 0;
    z-index: 0;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #e9ecef;
    height: 1000px;
    margin-left: -1px;
    top: 0;
    bottom: 0;
    left: 50%;
}
.timeline-box {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
    height:30vh;
}
.timeline-box.left {left: 0;}
.timeline-box.right {left: 50%;}
.timeline-box::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: 5%;
    right: -13%;
    border-radius: 50%;
    border: 7px solid #e9ecef;
    z-index: 1;
}
#ig4::after{background:url(../img/4.jpg)}
#ig5::after{background:url(../img/5.jpg)}
#ig6::after{background:url(../img/6.jpg)}
#ig7::after{background:url(../img/7.jpg)}
#text::after{
    content:"Be Part Of Our Story!";
    background:#F6D155;
    color: #fff;
    font-size:1.8em;
    font-weight:bold;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-box.right::after {left: -13%;}
.timeline-box .timeline-content {padding: 30px 0;position: relative;}
.timeline-box.left  .timeline-content {margin: 0 140px 0 0;}
.timeline-box.right .timeline-content {margin: 0 0 0 140px;}
.timeline-box .timeline-content h2 {
    font-size: 1.5em;
    font-weight:700;
    color: #000;
    text-align:start;
}
.timeline-content .text{
    display:flex;
    flex-direction: column;
    align-items:end;
    justify-content: end;
}
.timeline-box .timeline-content p {
    font-size: 16px;
    padding:10px;
    line-height:1.75;
    color: #6c757d ;
    text-align: justify;
}